<div class="modal-header d-flex justify-content-center">
  <button class="btn  btn-info">Login</button>
</div>
<div class="modal-body d-flex justify-content-between flex-wrap">
  <input [(ngModel)]="comment['name']" class="col-sm-5 form-control" type="text" placeholder="Name">
  <input [(ngModel)]="comment['email']" class="col-sm-5 form-control" type="email" placeholder="Email">
  <textarea [(ngModel)]="comment['comment']" placeholder="Comment" class="col-sm-12 form-control mt-3" cols="20"
    rows="3"></textarea>
</div>

<div class="modal-footer d-flex justify-content-between">
  <button class="btn btn-success" (click)="OnSendCommentClick()">Send</button>
</div>
