
<div class="col-sm-6 my-5 mx-auto">
  <h1>Comments</h1>
  <div class="px-3 d-flex flex-wrap py-4 border-bottom" *ngFor="let comment of commentList">

    <span class="col-sm-12 p-0 font-size__17 font-weight-bold">Name: {{comment['name']}}</span>
    <span class="col-sm-12 px-2 pt-3">Comment: {{comment['comment']}}</span>
  </div>

  <div class="col-sm-12 d-flex justify-content-end">
    <button class="btn btn-success mt-5" (click)="onAddNewComment(content)">Add Comment</button>
  </div>
  <a rou></a>
</div>